
<%
	 fieldData = @document["unit_json_tesim"]
	 if fieldData != nil
		 unit = JSON.parse(fieldData.first)
	 end

	 fieldData = @document["title_json_tesim"]
	 if fieldData != nil
		 title = JSON.parse(fieldData.first)
	 end
%>

<ul class="breadcrumb">
	<li><%= link_to "Digital Collections", root_path %> <span class="divider">&raquo;</span></li>
	<li><%= link_to unit['name'], dams_unit_path(unit['code']) %> <span class="divider">&raquo;</span></li>
	<li class="active"><%= title['value'] %></li>
</ul>
