<h1>Create a new DAMS Vocabularies</h1>
<%= form_for @x_vocabulary do |f| %>
  <%= label_tag 'x_vocabulary[description]', "Description" %><%= text_field_tag 'x_vocabulary[description]' %>
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
